envyaml==1.6.201229
hvac==0.10.14
# PyAthena==2.0.0
# snowflake-connector-python==2.4.4
snowflake-sqlalchemy
pyarrow
pandas==1.1.5
seaborn==0.11.1
plotly==4.14.3
altair==4.1.0
# pymc3==3.11.2
# graphviz==0.16
# pystan==3.1.1

Sphinx==3.0.0
sphinx-autoapi==1.4.0
sphinx-rtd-theme==0.5.0
pydata-sphinx-theme==0.3.1
nbsphinx>=0.8.3
numpydoc==1.1.0
recommonmark==0.6.0
Jinja2==2.11.3